{% extends 'BackOfficeBundle:Admin:base.html.twig' %}
{% block style %}{{ parent() }}{% endblock %}

{% block content %}
    <div class="col-md-6">
        {{ form_start(form, {'attr': {'class':'form-group'}}) }}

        <div class="form-group">
            <label class="control-label">Nom</label>
            {{ form_widget(form.name, {'attr' : {'class':'form-control'}}) }}
        </div>

        {{ form_widget(form.imageFile) }}
        {{ form_widget(form.sauvegarder, {'attr' : {'class':'btn-success'}})}}
        {{ form_errors(form) }}
        {{ form_end(form) }}

        {#{%endif%}#}
    </div>
{% endblock %}