{% extends '::base.html.twig' %}
{% block content %}

    <style>
        .profile-usermenu ul li.active {
            border-bottom: none;
        }

        .profile-usermenu ul li.active a {
            color: #5b9bd1;
            background-color: #f6f9fb;
            border-left: 2px solid #5b9bd1;
            margin-left: -2px;
        }

    </style>
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <section style="padding-bottom: 50px; padding-top: 50px;">
            <div class="row">
                <div class="col-md-2">
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Mon Profil </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_profile_edit') }}">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Informations personnelles </a>
                            </li>
                            <li>
                                <a href="{{ path('useralladdresses') }}" target="_blank">
                                    <i class="glyphicon glyphicon-globe"></i>
                                    Mes adresses </a>
                            </li>
                            <li class="active">
                                <a href="{{ path('userallorders') }}">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                    Mes commandes </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="alert alert-info">
                        <h4>Bonjour {{ app.user.firstname }} {{ app.user.lastname }} </h4>
                        <p>
                            À partir de votre compte, vous pouvez obtenir l'historique de vos commandes et mettre à jour vos informations.
                        </p>
                    </div>



                    <table class="table hover">

                        <thead>

                        <tr>

                            <th>Réference</th>

                            <th>Date de la commande</th>

                            <th>Status de la commande</th>

                            <th>Actions</th>

                        </tr>

                        </thead>

                        <tbody>
                        {% for order in orders %}

                            {% if order.paymentstate is same as("paid")  %} <tr class="success">{% else %} <tr class="danger"> {% endif %}

                            <td>{{ order.reference }}     </td>

                            <td>{{ order.date|date('d-m-Y h:i:s') }}</td>

                            <td> {% if order.paymentstate is same as("paid")  %} Payée  {% else  %} Non payée{% endif %}</td>

                            <td><a href="{{ path('afficherfacture', {'id':order.id}) }}" type="button" class="btn btn-info btn-sm">Afficher</a>  <a href="{{ path('FacturePDF', {'id':order.id}) }}" type="button" class="btn btn-info btn-sm" target="_blank">PDF</a>
                            {% if order.paymentstate is same as("notpaid")  %} <a href="{{ path('showpayment', {'id':order.id}) }}" type="button" class="btn btn-info btn-sm">Payer</a> {% endif %} </td>

                        </tr>

                        {% endfor %}






                        </tbody>

                    </table>







                </div>
            </div>
            <!-- ROW END -->

        </section>
        <!-- SECTION END -->
    </div>







{% endblock %}








