{% extends 'BackOfficeBundle:Brand:base.html.twig' %}
{% block style %}{{ parent() }}{% endblock %}

{% block content %}

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Data Tables
                    <small>advanced tables</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Tables</a></li>
                    <li class="active">Data tables</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Mes Produits</h3>
                            </div>

                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="col-md-6">
                                    {{ form_start(form, {'attr': {'class':'form-group'}}) }}

                                    <div class="form-group">
                                        <label class="control-label">Nom</label>
                                        {{ form_widget(form.name, {'attr' : {'class':'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Prix</label>
                                        {{ form_widget(form.price, {'attr' : {'class':'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        {{ form_widget(form.description, {'attr' : {'class':'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Sous Catégorie</label>
                                        {{ form_widget(form.SubCategory, {'attr' : {'class':'form-control'}}) }}
                                    </div>

                                    {{ form_widget(form.imageFile) }}
                                    {{ form_widget(form.ajouter)}}
                                    {{ form_end(form) }}
                                </div>
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prix</th>
                                        <th>Description</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.price }}</td>
                                            <td>{{ product.description }}</td>
                                            <th><a href="{{ path('update_product_brand', {'product':product.id}) }}" type="button" class="btn btn-primary btn-sm">Modifier</a></th>
                                            <th><a href="{{ vich_uploader_asset(product, 'imageFile') }}" type="button" class="btn btn-info btn-sm">Photo</a></th>
                                            <th><a href="{{ path('delete_product_brand', {'product':product.id}) }}" type="button" class="btn btn-danger btn-sm">Supprimer</a></th>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prix</th>
                                        <th>Description</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.box-body -->

                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->


{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>

    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging'      : true,
                'lengthChange': false,
                'searching'   : false,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false
            })
        })
    </script>
{% endblock %}

